{% extends 'base.html.twig' %}

{% block title %}Hello ParticipantController!{% endblock %}

{% block body %}

    <div class="ShowUser">
        <h3>Profil de {{ participant.userIdentifier }}</h3>
        <p>Prenom : {{participant.prenom }}</p>
        <p>Nom : {{ participant.nom }}</p>
        <p>Telephone : {{ participant.telephone }}</p>
        <p>Mail : {{ participant.mail }}</p>
        <p>Campus : {{ participant.campus.nom }}</p>
        {% if(participant.id is same as app.user.id) %}
            <a class="btn btn-outline-primary" href="http://localhost/sortir/public/participant/update/{{ participant.id }}">Modifier</a>
        {% endif %}
    </div>


{% endblock %}
