{% extends 'base.html.twig' %}

{% block title %}Hello ParticipantController!{% endblock %}

{% block body %}

    <div class="ShowUser">
        <h3>Profil de {{ app.user.userIdentifier }}</h3>
        <p>Prenom : {{ app.user.prenom }}</p>
        <p>Nom : {{ app.user.nom }}</p>
        <p>Telephone : {{ app.user.telephone }}</p>
        <p>Mail : {{ app.user.mail }}</p>
        <p>Campus : {{ app.user.campus.nom }}</p>
        <button><a href="">Modifier</a></button>
        {#<form action="{{ path('app_modifier_user', {'id': user.id}) }}" method="POST">
            {{ form_widget(form) }}
            <button type="submit" class="btn btn-primary">Enregistrer </button>
        </form>#}
    </div>


{% endblock %}
