{% extends 'base.html.twig' %}

{% block title %}
    Users list
{% endblock %}

{% block body %}
    <br>
    <div class="container-sorties">
        <table>
            <thead>
            <tr>
                <th>Pseudo</th>
                <th>Prénom</th>
                <th>Nom</th>
                <th>Email</th>
                <th>Téléphone</th>
                <th>Actif</th>
                <th>Campus</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>


            {% for participant in participants %}
                <tr>
                    <td>{{ participant.userIdentifier }}</td>
                    <td>{{ participant.prenom }}</td>
                    <td>{{ participant.nom }}</td>
                    <td>{{ participant.mail }}</td>
                    <td>{{ participant.telephone }}</td>
                    <td>{% if participant.actif == 1 %}✔{% else %}❌{% endif %}</td>
                    <td>{{ participant.campus.nom }}</td>
                    <td>
                        <button>
                            <a class="link_button" href="{{ path('participant_toggle_active', {'id': participant.id}) }}">
                                {% if participant.actif == 1 %}
                                    Passer en non actif
                                {% else %}
                                    Passer en actif
                                {% endif %}
                            </a>
                        </button>
                    </td>
                    <td>
                        <button onclick="confirmDelete('{{ path('participant_delete', {'id': participant.id}) }}')">Supprimer</button>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <script>
        function confirmDelete(deleteUrl) {
            if (confirm(`Êtes-vous sûr de vouloir supprimer l'utilisateur ?`)) {
                window.location.href = deleteUrl;
            }
        }
    </script>
{% endblock %}



