{% extends 'base.html.twig' %}

{% block title %}Hello ParticipantController!{% endblock %}

{% block body %}

    <div class="ShowUser">
        <div class="infos">
        <h3>Profil de {{ participant.userIdentifier }}</h3>
        <p>Prenom : {{participant.prenom }}</p>
        <p>Nom : {{ participant.nom }}</p>
        <p>Telephone : {{ participant.telephone }}</p>
        <p>Mail : {{ participant.mail }}</p>
        <p>Campus : {{ participant.campus.nom }}</p>
        {% if app.user.id is same as participant.id %}
            <a href="{{ path('participant_update',{'id': participant.id}) }}" class="btn btn-outline-primary">Modifier</a>
        {% endif %}
        <a href="{{ path('sortie_list') }}" class="btn btn-outline-primary">Retour</a>

        {#<form action="{{ path('app_modifier_user', {'id': user.id}) }}" method="POST">
            {{ form_widget(form) }}
            <button type="submit" class="btn btn-primary">Enregistrer </button>
        </form>#}
        </div>
    </div>


{% endblock %}
