{% extends 'base.html.twig' %}

{% block title %}Hello ParticipantController!{% endblock %}

{% block body %}

    <div class="ShowUser">
        <h3>Profil de {{ participant.userIdentifier }}</h3>
        <p>Prenom : {{participant.prenom }}</p>
        <p>Nom : {{ participant.nom }}</p>
        <p>Telephone : {{ participant.telephone }}</p>
        <p>Mail : {{ participant.mail }}</p>
        <p>Campus : {{ participant.campus.nom }}</p>
            <button><a href="{{ path('participant_update',{'id': participant.id}) }}">Modifier</a></button>

        {#<form action="{{ path('app_modifier_user', {'id': user.id}) }}" method="POST">
            {{ form_widget(form) }}
            <button type="submit" class="btn btn-primary">Enregistrer </button>
        </form>#}
    </div>


{% endblock %}
