{% extends 'base.html.twig' %}

{% block title %}Hello ParticipantController!{% endblock %}

{% block body %}

    <div class="ShowUser">
        <div class="infos">
            <h3>Profil de {{ participant.userIdentifier }}</h3>
            {% if app.user.photo %}
                <img class="compte" style="height: 5em; width: 5em; border-radius: 15%; object-fit: cover;"
                     src="{{ asset('img/'~app.user.photo) }}" alt="{{ app.user.nom }}">
            {% endif %}
            <p>Prenom : {{ participant.prenom }}</p>
            <p>Nom : {{ participant.nom }}</p>
            <p>Telephone : {{ participant.telephone }}</p>
            <p>Mail : {{ participant.mail }}</p>
            <p>Campus : {{ participant.campus.nom }}</p>
            <div class="test">
                {% if app.user.id is same as participant.id %}
                    <a href="{{ path('participant_update',{'id': participant.id}) }}" class="btn btn-outline-primary">Modifier</a>
                {% endif %}
                <a href="{{ path('sortie_list') }}" class="btn btn-outline-primary">Retour</a>
            </div>
            {# <form action="{{ path('app_modifier_user', {'id': user.id}) }}" method="POST">
            {{ form_widget(form) }}
            <button type="submit" class="btn btn-primary">Enregistrer </button>
        </form> #}
        </div>
    </div>


{% endblock %}
