{% extends 'base.html.twig' %}

{% block body %}

    <h2>Liste des campus</h2>
    <form action="{{ path('campus_list') }}" method="GET">
        <label for="recherche">Le nom du campus contient : </label>
        <input class="input" type="text" name="q" id="recherche" value="{{ searchQuery ?? '' }}" placeholder="Rechercher un campus">
        <button type="submit">Rechercher</button>
    </form>

    <ul>
        {% for campus in campus %}
            <br>
            <li>Campus: {{ campus.nom }}</li>
            <a href="{{ path('campus_update', {'id':campus.id}) }}">Modifier</a> | <a
                href="{{ path('campus_delete', {'id': campus.id}) }}">Supprimer</a>
            <br>
        {% endfor %}
    </ul>
    <button id="plus-button" onclick="ajouter()">+</button>

    <div id="campus-form" style="display: none;">
        {{ form_start(campusForm, {'action': path('campus_add')}) }}
        {{ form_widget(campusForm) }}
        <button type="submit">Ajouter un campus</button>
        {{ form_end(campusForm) }}
    </div>


    <script>
        function ajouter() {
            var form = document.getElementById("campus-form");
            var btn = document.getElementById("plus-button");

            if (form.style.display === "none") {
                form.style.display = "block";
                btn.innerHTML = "-";
            } else {
                form.style.display = "none";
                btn.innerHTML = "+";
            }
        }
    </script>

{% endblock %}

    {% block title %}

    {% endblock %}

