{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }} | Ajouter une sortie
{% endblock %}

{% block body %}
    <br>
    <div>
        <div class="container-sorties">
            <div class="infosSortie">
            {{ form_start(sortieForm) }}
            {{ form_row(sortieForm.nom) }}<br>
            {{ form_row(sortieForm.dateLimiteInscription) }}<br>
            {{ form_row(sortieForm.nbInscriptionsMax) }}<br>
            {{ form_row(sortieForm.duree) }}<br>
            {{ form_row(sortieForm.infosSortie) }}<br>
            {{ form_row(sortieForm.campus) }}<br>
            {{ form_row(sortieForm.ville) }}<br>
            {{ form_row(sortieForm.lieu) }}<br>
            {{ form_widget(sortieForm) }}<br>


        <button type="button" class="btn btn-outline-primary data-toggle=" modal  data-target="#modalLieu">
        Ajouter un lieu
        </button>
        <button class="btn btn-outline-primary">{% block buttonLabel %}Ajouter une sortie{% endblock %}</button>
        {{ form_end(sortieForm) }}
    </div>
    </div>
        </div>
        <div class="modal fade" id="modalLieu" tabindex="-1" aria-labelledby="modalLieuLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="modalLieuLabel">Ajouter un lieu</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        {{ form_start(lieuForm) }}
                        {{ form_widget(lieuForm) }}
                        <button class="btn btn-primary">{% block lieuButtonLabel %}Ajouter un lieu{% endblock %}</button>
                        {{ form_end(lieuForm) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
