{% extends 'base.html.twig' %}

{% block body %}
    <h2>Liste des sorties !</h2>

<div class="container-sorties">
    {% for sortie in sorties %}
        <article class="sortie">
            <p>Nom sortie : <a href="{{ path('sortie_details', {'id': sortie.id}) }}">{{ sortie.nom }}</a></p>
            <p>Date début sortie : {{ sortie.dateHeureDebut | date('d/m/y H:i') }}</p>
            <p>Durée de la sortie : {{ sortie.duree }}</p>
            <p>Nb inscription max : {{ sortie.nbInscriptionsMax }}</p>
           {# <p>Organisateur : {{ sortie.participant.prenom }}</p>#}
            <p>Etat de la sortie : {{ sortie.etat.libelle}}</p>
        </article>
    {% endfor %}
</div>

{% endblock %}

{% block title %}

{% endblock %}

