{% extends 'base.html.twig' %}

{% block body %}
    <h2>Liste des sorties !</h2>

    {% for sortie in sorties %}
        <article>
            <p>Nom sortie : {{ sortie.nom }}</p>
            <p>Date début sortie : {{ sortie.dateHeureDebut | date('d/m/y H:i') }}</p>
            <p>Durée de la sortie : {{ sortie.duree }}</p>
            <p>Nb inscription max : {{ sortie.nbInscriptionsMax }}</p>
            <p>Organisateur : {{ sortie.participant.prenom }}</p>
            <p>Etat de la sortie : {{ sortie.etat.libelle}}</p>
        </article>
    {% endfor %}
{% endblock %}

{% block title %}

{% endblock %}

