{% extends 'base.html.twig' %}

{% block title %}

{% endblock %}

{% block body %}

    <h2>Details de la sortie !</h2>

    <section>
        <p>Nom de la sortie : {{ sortie.nom }}</p>
        <p>Date et heure de la sortie : {{ sortie.dateHeureDebut | date('d-m-Y-H-i-s') }}</p>
        <p>Date limite d'inscription : {{ sortie.duree }}</p>
        <p>Participants {{ sortie.nbInscriptionsMax }}</p>
        <p>Descriptions et infos {{ sortie.infosSortie }}</p>
        <p>Campus : {{ sortie.campus.nom }}</p>
        <p>Lieu : {{ sortie.lieu.nom }}</p>
        <p>Rue : {{ sortie.lieu.rue }}</p>
        <p>Ville : {{ sortie.lieu.ville.nom }}</p>
        <p>Code postal : {{ sortie.lieu.ville.codePostal}}</p>
        {% if(sortie.participant.id is not same as(app.user.id) )%}
        <a href="{{ path('sortie_inscription', {'sortieId': sortie.id}) }}" class="btn btn-primary">S'inscrire</a>
        {% endif %}
        {% if(sortie.participant.id is same as(app.user.id)) %}
        <button><a class="link_button" href="{{ path('sortie_update', {'id':sortie.id}) }}">Modifier </a></button>
        <button><a class="link_button" href="{{ path('sortie_delete', {'id':sortie.id}) }}">Supprimer </a></button>
        {% endif %}
        {% for flashMessage in app.session.flashBag.get('success') %}
            <div class="alert alert-success">
                {{ flashMessage }}
            </div>
        {% endfor %}
    </section>




{% endblock %}

