{% extends 'base.html.twig' %}

{% block body %}

    <br>
    <h2>Liste des villes</h2>
    <br>
    <form action="{{ path('ville_list') }}" method="GET">
        <label for="recherche">Le nom de la ville contient : </label>
        <input class="input" type="text" name="q" id="recherche" value="{{ searchQuery ?? '' }}" placeholder="Rechercher une ville">
        <button class="btn btn-outline-primary" type="submit">Rechercher</button>
    </form>
<br>
    <div class="container-sorties">
        <table>
            <thead>
            <tr>
                <th class="pad-gd text-centre">Ville</th>
                <th class="pad-gd text-centre">Code Postal</th>
                <th class="pad-gd text-centre">Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for ville in villes %}
                <tr>
                    <td>{{ ville.nom }}</td>
                    <td>{{ ville.codePostal }}</td>
                    <td>
                        <a class="btn btn-outline-primary" href="{{ path('ville_update', {'id': ville.id}) }}">Modifier</a>
                        <a class="btn btn-outline-primary" href="{{ path('ville_delete', {'id': ville.id}) }}">Supprimer</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>



    <div id="ville-form" >
        {{ form_start(villeForm, {'action': path('ville_add')}) }}
        {{ form_widget(villeForm) }}
        <button class="btn btn-outline-primary" type="submit">Ajouter une ville</button>
        {{ form_end(villeForm) }}
    </div>


{% endblock %}

        {% block title %}

        {% endblock %}

