{% extends 'base.html.twig' %}

{% block body %}

    <br>
    <h2>Liste des villes</h2>
    <form action="{{ path('ville_list') }}" method="GET">
        <label for="recherche">Le nom de la ville contient : </label>
        <input class="input" type="text" name="q" id="recherche" value="{{ searchQuery ?? '' }}" placeholder="Rechercher une ville">
        <button class="btn btn-outline-primary" type="submit">Rechercher</button>
    </form>

    <div>
        {% for ville in villes %}
            <br>
            <li>Ville : {{ ville.nom }}</li>
            <li>Code postal : {{ ville.codePostal }} </li>
            <a class="btn btn-outline-primary" href="{{ path('ville_update', {'id':ville.id}) }}">Modifier</a>
            <a class="btn btn-outline-primary" href="{{ path('ville_delete', {'id': ville.id}) }}">Supprimer</a>
            <br>
        {% endfor %}
    </div>


    <button id="plus-button" onclick="ajouter()">+</button>

    <div id="ville-form" style="display: none;">
        {{ form_start(villeForm, {'action': path('ville_add')}) }}
        {{ form_widget(villeForm) }}
        <button type="submit">Ajouter une ville</button>
        {{ form_end(villeForm) }}
    </div>


    <script>
        function ajouter() {
            var form = document.getElementById("ville-form");
            var btn = document.getElementById("plus-button");

            if (form.style.display === "none") {
                form.style.display = "block";
                btn.innerHTML = "-";
            } else {
                form.style.display = "none";
                btn.innerHTML = "+";
            }
        }
    </script>


{% endblock %}

        {% block title %}

        {% endblock %}

