<nav class="navbar navbar-expand-lg bg-body-tertiary"> {# fixed top #}
    <div class="container-fluid">

        {% if (app.user) %}
            <a class="navbar-brand" href="{{ path('sortie_list') }}">SortirENI</a>
        {% else %}
            <a>SortirENI</a>
        {% endif %}


        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">

                {% if (app.user) %}
                <li class="nav-item"><a class="nav-link" href="{{ path('participant_show', {'id': app.user.id}) }}">Mon
                        Profil</a></li>
                <li class="nav-item"><a class="nav-link" href="{{ path('sortie_add') }}">Ajouter une sortie</a></li>
                {% if is_granted('ROLE_ADMIN') %}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                           aria-expanded="false">
                           Participants</a>
                <ul class="dropdown-menu">
                    <li class="nav-item"><a class="nav-link" href="{{ path('app_register') }}">Enregistrer un
                            nouveau participant</a></li>
                    <li class="nav-item"><a class="nav-link" href="{{ path('participant_list') }}">Liste des participants</a></li>
                </ul>
                    </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                       aria-expanded="false">
                        Villes</a>
                    <ul class="dropdown-menu">
                        <li class="nav-item"><a class="nav-link" href="{{ path('ville_add') }}">Ajouter une
                                ville</a>
                        </li>
                        <li class="nav-item"><a class="nav-link" href="{{ path('ville_list') }}">Liste des
                                villes</a>
                        </li>
                    </ul>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                       aria-expanded="false">
                        Campus</a>
                    <ul class="dropdown-menu">
                        <li class="nav-item"><a class="nav-link" href="{{ path('campus_add') }}">Ajouter un
                                campus</a>
                        </li>
                        <li class="nav-item"><a class="nav-link" href="{{ path('campus_list') }}">Liste des
                                campus</a>
                        </li>
                    </ul>
                </li>
                {% endif %}



                        <img class="compte" style="height: 40px; width: 40px; border-radius: 50%"
                             src="{{ asset('img/'~app.user.photo) }}" alt="{{ app.user.nom }}">
                       <div class="logout">
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('app_logout') }}">({{ app.user.userIdentifier }}) Se déconnecter
                                </a></li>


                    {% else %}
                        <li class="nav-item"><a class="nav-link" href="{{ path('app_login') }}">Se connecter</a></li>
                    {% endif %}
               </div>

            </ul>
        </div>
    </div>
</nav>