<nav>
    <ul class="nav-perso">
        <li class="sortir">
            {% if (app.user) %}
                <a class="txt-blanc" href="{{ path('sortie_list') }}"><strong>SortirENI</strong></a>
            {% else %}
                <a><strong>SortirENI</strong></a>
            {% endif %}
        </li>
        {% if (app.user) %}
            <li class="nav-item dropdown">
                <a class="txt-blanc dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true"
                   aria-expanded="false">Mon profil</a>
                <ul class="dropdown-menu">
                    <li><a href="{{ path('participant_show', {'id': app.user.id}) }}">Voir mon profil</a></li>
                    <li><a href="{{ path('participant_sorties', {'id': app.user.id}) }}">Mes Sorties</a></li>
                </ul>
            </li>
            <li class="nav-item"><a class="txt-blanc" href="{{ path('sortie_add') }}">Ajouter une sortie</a></li>
            {% if is_granted('ROLE_ADMIN') %}
                <li class="nav-item dropdown">
                    <a class="txt-blanc dropdown-toggle" href="#" role="button" data-toggle="dropdown"
                       aria-haspopup="true" aria-expanded="false">Participants</a>
                    <ul class="dropdown-menu">
                        <li><a href="{{ path('app_register') }}">Enregistrer un nouveau participant</a></li>
                        <li><a href="{{ path('participant_list') }}">Liste des participants</a></li>
                    </ul>
                </li>

                <li>
                    <a class="txt-blanc" href="{{ path('ville_list') }}">Villes</a>
                </li>

                <li>
                    <a class="txt-blanc" href="{{ path('campus_list') }}">Campus</a>
                </li>

            {% endif %}

            <li class="imgProfil">
                {% if app.user.photo %}
                    <img class="compte" style="height: 40px; width: 40px; border-radius: 50%"
                         src="{{ asset('img/'~app.user.photo) }}" alt="{{ app.user.nom }}">
                {% endif %}
            </li>
            <li class="nav-item">
                <a class="txt-blanc" href="{{ path('app_logout') }}">({{ app.user.userIdentifier }}) Se déconnecter</a>
            </li>
        {% else %}
            <li class="nav-item">
                <a class="txt-blanc" href="{{ path('app_login') }}">Se connecter</a>
            </li>
        {% endif %}
    </ul>
</nav>
